@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-accent: 0, 159, 127;
    --color-accent-hover: 1, 147, 118;
  }
}

body {
  font-family: 'Inter', sans-serif;
}

.cbd-top-menu-expanded {
  @apply w-screen block text-center absolute top-[47px] left-0 bg-[#17161A];
}

.cbd-bg-feature-product-list {
  background-image: url('https://res.cloudinary.com/dktajq8sb/image/upload/v1699976993/market-place/feature-product-list-bg_rmpyt3.png');
  background-position: center;
}
