@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-accent: 0, 159, 127;
    --color-accent-hover: 1, 147, 118;
  }
}

body {
  font-family: 'Inter', sans-serif;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-thumb {
  background-color: #bdc3c7;
  border-radius: 8px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #3a384199;
}

nav > ul > li > a.active {
  @apply bg-gradient-to-r inline-block from-[#DA458F] to-[#DA34DD] text-transparent bg-clip-text;
}

.cbd-top-menu-expanded {
  @apply w-screen block text-center absolute top-[47px] left-0 bg-[#17161A];
}

.cbd-top-menu-item {
  @apply cursor-pointer py-1 hover:text-[#DA458F]/80 relative after:lg:absolute after:lg:bottom-0 after:lg:left-0 after:lg:bg-gradient-to-r after:lg:from-[#DA458F] after:lg:to-[#DA34DD] after:lg:h-0.5 after:lg:w-0 hover:after:lg:w-full after:lg:transition-all after:lg:ease-in-out after:lg:duration-300;
}

.cbd-bg-feature-product-list {
  background-image: url('https://res.cloudinary.com/dktajq8sb/image/upload/v1699976993/market-place/feature-product-list-bg_rmpyt3.png');
  background-position: center;
}
